@{
    ViewData["Title"] = "MVP Global Summit Slack Team Signup";
}
<div class="row header-body center-block">
    <div class="col-md-offset-3 col-md-6">
        <div class="heading">
            <h1><span class="fa fa-slack"></span> <b>Thank you for joining THE <i>UNOFFICIAL</i> SLACK FOR THE 2016 MVP GLOBAL SUMMIT</b></h1>
            <h2>Please check your inbox for your invitation.</h2>
        </div>
        <div class="alert alert-warning">
            <span class="fa fa-warning"></span> <b>
                Remember, this is a private 3rd party channel. It’s not an
                official Microsoft or MVP Award sponsored/managed channel.
            </b>
            <br />
            <br />
            <div class="text-center text-uppercase"><em><b>All context and content need to be non-NDA.</b></em></div>
        </div>
        <a href="https://mvpsummit.slack.com" class="btn btn-slack btn-lg btn-block m-b-2"><span class="fa fa-slack"></span> Go to Slack</a>
    </div>
</div>
